extends layout 

block content 
  h1 #{title}: #{bookInstance.name}

  p Do you really want to delete this Book Instance?

  form(method='POST' action='')
    div.form-group
      input#bookInstanceId.form-control(type='hidden', name='bookInstanceId', required='true', value=bookInstance._id)
    
    button.btn.btn-primary(type='submit') Delete